.about-us-sect {
  background-color: #12141d;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}
.about-left-up-blue {
  background-color: #008eff;
  height: 70px;
  width: 70px;
  top: 0;
  position: absolute;
  clip-path: circle(100% at left top);
}
.about-us-inner {
  width: 90%;
  max-width: 1500px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.about-inner-col1 {
  position: relative;
}
.about-us-image1 {
  width: 450px;
  position: absolute;
  right: 0;
  top: 0;
}
.about-us-image2 {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 300px;
}
.about-inner-col2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-us-know-more {
  font-size: 40px;
  line-height: 45px;
  width: 80%;
  font-weight: 600;
  color: #fafafa;
}
.know-more-sub {
  color: #fafafa;
  font-weight: 400;
  line-height: 22px;
  font-size: 16px;
}
.cust-rat-test-cnt {
  display: flex;
  gap: 30px;
  margin-top: 5px;
}
.about-cust-rt,
.about-security-test {
  color: #2b59ff;
  font-size: 45px;
  line-height: 30px;
  font-weight: 700;
}
.about-security-test-wr,
.about-cus-rt-wrd {
  font-size: 16px;
  font-weight: 400;
  color: #fafafa;
}
.about-learn-btn {
  color: #fafafa;
  background-color: #2b59ff;
  width: 140px;
  height: 40px;
  margin-top: 10px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  outline: none;
}
.about-bottom-lft-ar {
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  bottom: 20px;
  transform: rotate(90deg);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid #12b74a;
  right: 10px;
}

@media screen and (max-width: 1200px) {
  .about-us-sect {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .about-left-up-blue {
    height: 50px;
    width: 50px;
  }
  .about-us-inner {
    gap: 40px;
  }
  .about-us-image1 {
    width: 380px;
  }
  .about-us-image2 {
    width: 220px;
  }
  .about-inner-col2 {
    gap: 15px;
  }
  .about-us-know-more {
    font-size: 30px;
    line-height: 35px;
  }
  .know-more-sub {
    line-height: 18px;
    font-size: 14px;
  }
  .cust-rat-test-cnt {
    gap: 25px;
    margin-top: 5px;
  }
  .about-cust-rt,
  .about-security-test {
    font-size: 35px;
    line-height: 20px;
    font-weight: 700;
  }
  .about-security-test-wr,
  .about-cus-rt-wrd {
    font-size: 14px;
  }
  .about-learn-btn {
    width: 120px;
    height: 35px;
    margin-top: 8px;
    border-radius: 20px;
    font-size: 14px;
  }
  .about-bottom-lft-ar {
    bottom: 15px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 25px solid #12b74a;
  }
}
@media screen and (max-width: 1000px) {
  .about-us-image1 {
    width: 320px;
  }
  .about-us-image2 {
    width: 180px;
  }
}
@media screen and (max-width: 900px) {
  .about-us-image1 {
    width: 280px;
  }
  .about-us-image2 {
    width: 170px;
    bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .about-us-sect {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .about-left-up-blue {
    height: 35px;
    width: 35px;
  }
  .about-us-inner {
    gap: 40px;
  }
  .about-us-image1 {
    width: 250px;
  }
  .about-us-image2 {
    width: 140px;
    bottom: 20px;
  }
  .about-inner-col2 {
    gap: 10px;
  }
  .about-us-know-more {
    font-size: 22px;
    line-height: 28px;
  }
  .know-more-sub {
    font-size: 12px;
    line-height: 16px;
  }
  .cust-rat-test-cnt {
    gap: 20px;
    margin-top: 5px;
  }
  .about-cust-rt,
  .about-security-test {
    font-size: 22px;
    line-height: 16px;
    font-weight: 700;
  }
  .about-security-test-wr,
  .about-cus-rt-wrd {
    font-size: 12px;
  }
  .about-learn-btn {
    width: 100px;
    height: 30px;
    margin-top: 8px;
    border-radius: 15px;
    font-size: 12px;
  }
  .about-bottom-lft-ar {
    bottom: 10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #12b74a;
  }
}

@media screen and (max-width: 650px) {
  .about-us-image1 {
    width: 220px;
  }
  .about-us-image2 {
    width: 120px;
    bottom: 60px;
  }
}

@media screen and (max-width: 600px) {
  .about-us-sect {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .about-left-up-blue {
    height: 20px;
    width: 20px;
  }
  .about-us-inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .about-us-image1,
  .about-us-image2 {
    position: relative;
  }
  .about-us-image1 {
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
  }
  .about-us-image2 {
    width: 100px;
    bottom: 0;
    left: -50%;
    transform: translateX(130%);
  }
  .about-inner-col2 {
    align-items: center;
  }
  .know-more-sub,
  .about-us-know-more {
    text-align: center;
  }
  .about-inner-col2 {
    gap: 8px;
  }
  .about-us-know-more {
    font-size: 16px;
    line-height: 20px;
  }
  .know-more-sub {
    font-size: 10px;
    width: 80%;
    line-height: 14px;
  }
  .cust-rat-test-cnt {
    gap: 20px;
    margin-top: 5px;
  }
  .about-cust-rt,
  .about-security-test {
    text-align: center;
    font-size: 18px;
    line-height: 14px;
  }
  .about-security-test-wr,
  .about-cus-rt-wrd {
    font-size: 10px;
  }
  .about-learn-btn {
    width: 80px;
    height: 25px;
    margin-top: 5px;
    border-radius: 10px;
    font-size: 10px;
  }
  .about-bottom-lft-ar {
    bottom: 5px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 15px solid #12b74a;
  }
}

@media screen and (max-width: 400px) {
  .about-us-image1 {
    width: 150px;
  }
  .about-us-image2 {
    width: 80px;
  } 
}
